:root {
  --border-radius: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
}

body {
  background-color: #000;
  font-family: sans-serif;
}

.notification {
  background-color: #fff;
  border-radius: var(--border-radius);
  color: #000;
  line-height: 1.25;
  width: 21rem;
}

.notification__header {
  align-items: center;
  display: flex;
}

.notification__photo {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #bfbfbf;
  background-size: cover;
  border-radius: var(--border-radius);
  flex-shrink: 0;
  height: 4rem;
  width: 4rem;
}

.notification__content {
  display: flex;
  flex-direction: column;
}

.notification__time {
  font-size: 0.75rem;
  right: 0;
  top: 16px;
}

.notification__line {
  background-color: #bfbfbf;
  height: 0.1rem;
  opacity: 0.5;
}

.notification__buttons {
  cursor: pointer;
  display: flex;
  justify-content: end;
}

.notification__button {
  background-color: #bfbfbf;
  border-radius: var(--border-radius);
  font-size: 0.75rem;
  line-height: 1;
}
