:root {
  --rounded: 0.25rem;
  --2: 0.5rem;
  --3: 0.75rem;
  --4: 1rem;
  --5: 1.25rem;
  --6: 1.5rem;
}

/*helpers*/
.p-2 {
  padding: var(--2);
}

.py-2 {
  padding-bottom: var(--2);
  padding-top: var(--2);
}

.px-3 {
  padding-left: var(--3);
  padding-right: var(--3);
}

.my-2 {
  margin-bottom: var(--2);
  margin-top: var(--2);
}
.fade-50 {
  opacity: 0.5;
}

body {
  background-color: #000000;
}

/*Block*/

.notification {
  background-color: #fff;
  border-radius: var(--rounded);
  box-sizing: border-box;
  color: #000;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  line-height: var(--5);
  width: 16rem;
}

/*Element*/

.notification__header {
  align-items: center;
  display: flex;
  gap: var(--4);
}
.notification__image {
  background: #bfbfbf center no-repeat;
  background-size: cover;
  border-radius: var(--rounded);
  min-height: 4rem;
  min-width: 4rem;
}

.notification__line {
  background-color: #bfbfbf;
  height: 0.1rem;
  opacity: 0.5;
}

.notification__button {
  cursor: pointer;
  display: flex;
  gap: var(--2);
  justify-content: end;
}

/*Modifier*/

.notification__button_style {
  background-color: #bfbfbf;
  border-radius: var(--rounded);
  font-size: var(--3);
  line-height: var(--4);
}
